.d2l-typography .smith-dialog p {
  margin: 0;
}
body.show-dialog {
  overflow: hidden;
}
.smith-dialog  * {
	box-sizing: border-box;
    transition: transform .4s ease-in-out;
}
body:not(.show-dialog) .smith-dialog-wrapper {
    display:none;
  }
  .smith-dialog-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    flex-direction: column;
  }
  .smith-dialog-wrapper:not(.with-enrollment-request) button.request-enroll-button {
    transform: scale(0);
    opacity:0;
  }
  body.show-dialog .smith-dialog {
    opacity: 1;
    transform: translateY(0);
  }
  .smith-dialog {
    max-width: 80vw;
    min-width: 80vw;
    max-height: 80vh;
    margin: 10vh auto auto;
    z-index: 99999999;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,.4);
    transform: translateY(-100%);
    transition: .4s ease-in-out;
    opacity: 0;
  }
  .smith-dialog-header {
    display: flex;
    background-color: rgb(222, 46, 7);
    color: white;
    text-indent: 4.5pt;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
  }

  .smith-dialog-header span{
    width: 100%;
    background-color:#DD3326;
    color:#FFF;
    padding:15px;
    margin-bottom: 0;
  }
.smith-dialog-header span:after{
    background:#FFF;
    content:"";
    display:block;
    height:5px;
    margin:20px -15px -5px -15px;
  }


.smith-dialog-header > *:first-child {
    margin-left: 0px;
  }
  .smith-dialog-header > * {
    margin: auto 0 auto 8px;
  }
  .smith-dialog-body {
    display: flex;
    flex-direction: column;
    max-height: calc(80vh - 144px);
    overflow-y: auto;
    padding: 16px;
  }
  .smith-dialog-body > *:last-child {
    margin-bottom: 0;
  }
  .smith-dialog-body .notice {
    font-style: italic;
  }
  .smith-dialog-body > * {
    margin-bottom: 0px;
  }
  .smith-dialog-footer {
    height: 72px;
    display: flex;
    padding: 0 16px;
  }
  .smith-dialog-footer button {
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 4px;
  }
  .smith-dialog-footer button:hover {
    background-color: rgb(222, 46, 7);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(222, 46, 7, 1);
  }
  .smith-dialog-footer > *:first-child {
    margin-left: auto;
  }
  .smith-dialog-footer > * {
    margin: auto 0 auto 8px;
  }
  p{
    margin: 0;
    padding: 0;
  }

  p > *:first-child{
    margin-top: 0;
  }

  ul{
    margin-top:0;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  @media only screen and (max-width:481px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
      video{
          width: 100%;
      }
  }

  @media only screen and (max-width:767px) and (min-width: 481px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      video{
          width: 100%;
      }
  }
  @media only screen and (max-width:961px) and (min-width: 767px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
      video{
          width: 90%;
      }
  }
  @media only screen and (max-width:1025px) and (min-width: 961px){
      video{
          width: 80%;
      }
  }

  @media only screen and (max-width:1281px) and (min-width: 1025px){
    /* big landscape tablets, laptops, and desktops */
      video{
          width: 70%;
      }
  }

  @media only screen and (min-width:1281px){
    /* hi-res laptops and desktops */

      video{
          width: 55%;
      }
  }